@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/proximanova-semibold-webfont.ttf'),
       url('../fonts/proximanova-semibold-webfont.eot'),
       url('../fonts/proximanova-semibold-webfont.woff'),
       url('../fonts/proximanova-semibold-webfont.svg'); 
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/proximanova-regular-webfont.ttf'),
       url('../fonts/proximanova-regular-webfont.eot'),
       url('../fonts/proximanova-regular-webfont.woff'),
       url('../fonts/proximanova-regular-webfont.svg'); 
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font: 16px/1 'Georgia';
  color: #3a3a3a;
}

a {
  font-family: 'ProximaNovaSemibold';
  font-weight: normal;
  font-size: 14px;
  color: #3a3a3a;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-rendering: optimizeLegibility;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

h3, h2 {
  font-family: 'ProximaNovaSemibold';
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  font-size: 14px;
  color: #3a3a3a; 
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  font-size: 16px;
  line-height: 1.5; 
  margin: 10px 0;
  color: lighten(#727272,9%);
  text-shadow: 0 1px 0 #FFF;

  a {
    font-family: 'Georgia', serif;
    text-transform: none;
    letter-spacing: 0;
    color: #898989;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all .38s ease-in-out;
    -moz-transition: all .38s ease-in-out;

    &:hover {
      color: lighten(#EF4F54,8%);
    }
  }
}

h1 {
  font-family: "ProximaNovaRegular";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.3;
  font-size: 28px;
  margin: 0;
  color: lighten(#999,21%);
  padding: 0 0 0 0;
  text-rendering: optimizeLegibility;
}

.container {
  width: 960px;
  margin: 70px auto 50px auto;
  background-color: transparent;
  clear: both;
  overflow: hidden;
}

.sidebar {
  width: 272px;
  float: left;

  .avatar {
    display: block;
    width: 272px;
    height: 272px;
    background-image: url('../images/ice_cream.jpg');
    background-size: 272px;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  h3 {
    margin-top: 25px;
  }
}

.content {
  width: 625px;
  padding: 0 0 0 20px;
  float: right;
}

.posts, .post {
  margin-top: 0;

  h2 {
    margin-bottom: 14px;
  }

  h1 {
    a {
      display: block;
      font-family: "ProximaNovaRegular";
      font-weight: normal;
      letter-spacing: 0;
      text-transform: none;
      line-height: 1.3;
      font-size: 30px;
      margin: 0;
      color: lighten(#EF4F54,8%);
      padding: 0 0 0 0;
      text-rendering: optimizeLegibility;
    }
  }

  li {
    margin: 0 0 42px 0;
  }

  .continue-reading {
    display: block;
    text-transform: none;
    letter-spacing: 0;
    font-size: 44px;
    color: #C3E3E9;
  }

  strong {
    font-weight: 600;
  }
}

.post {
  p {
    margin: 20px 0;

    a {
      font-family: 'Georgia', serif;
      text-transform: none;
      letter-spacing: 0;
      color: #898989;
      font-size: 16px;
      font-weight: normal;
      color: lighten(#EF4F54,8%);
    }
  }

  .body-image {
    width: 625px;
    border: 1px solid #DDD;
    box-sizing: border-box;
  }

  iframe {
    margin: 0 auto;
    width: 100%;
  }

  .back-arrow {
    span {
      display: block;
      float: left;
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      font-size: 44px;
      margin-right: 10px;
      margin-top: -15px;
      color: #C3E3E9;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 25px;
    color: #898989;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  .light {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

nav {
  clear: both;
  overflow: hidden;
  display: block;
  margin: 20px 0 -2px 0;

  span {
    display: block;
    float: left;
    margin-right: 11px;
  }

  .ss-icon {
    color: #C3E3E9;
    font-size: 44px;
    text-align: left;
    line-height: 1.4;
  }
}

.resources {

  h2 {
    display: inline-block;
    margin: 0;
    padding: 5px 0 14px 0;
  }

  ol {
    margin-left: 0;
  }

  a {
    display: block;
    font-family: "ProximaNovaRegular";
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    line-height: 1.3;
    font-size: 30px;
    margin: 0;
    color: lighten(#EF4F54,8%);
    padding: 0 0 0 0;
    text-rendering: optimizeLegibility;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;

    &:hover {
      color: lighten(#EF4F54, 2%);
    }
  }

  .back-arrow {
    span {
      display: block;
      float: left;
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      font-size: 44px;
      margin-right: 10px;
      margin-top: -15px;
      color: #C3E3E9;
    }
  }
}

.ok-woman {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url('/images/ok_woman.png');
  background-size: 32px auto;
  background-repeat: no-repeat;
  margin-left: 18px;
  margin-top: 7px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.italic {
  color: lighten(#898989, 20%);
}


/* Landscape phone to portrait tablet */
@media (max-width: 481px) {

  body {
    margin: 0 20px;
  }

  .container {
    width: 100%;
    max-width: 481px;
    margin: 40px auto 60px auto;
    background-color: transparent;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .body-image {
    width: 400px;
  }
}


