<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<title>Julie Ann Horvath</title>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/css/bass.css" type="text/css" />
  <link rel="stylesheet" href="/css/symbolset.css" type="text/css" />
  <link rel="stylesheet" href="/css/symbolset-block.css" type="text/css" />
</head>
<body> 
<div class="container">

  <div class="content clearfix">
    {{content}}
  </div>

  <div class="sidebar clearfix">
    <a href="/"><span class="avatar"></span></a>
    <h3>About me</h3>
    <p>I'm a designer and frontend developer at <a href="https://github.com/">GitHub</a>. I like to think of myself as an open source advocate with a big heart for making mockups in markup. I spend a lot of my time speaking at conferences and volunteering to teach (more) women to code.</p> 
    <nav>
      <a href="https://twitter.com/nrrrdcore"><span class="ss-icon ss-social-circle ss-twitter"></span></a>
      <a href="http://dribbble.com/nrrrdcore"><span class="ss-icon ss-social-circle ss-dribbble"></span></a>
      <a href="https://github.com/nrrrdcore"><span class="ss-icon ss-social-circle ss-github"></span></a>
    </nav>
    <p>I'm also the creator and organizer of <a href="http://passion-projects.github.com/">Passion Projects</a>, a monthly talk series designed to help surface and celebrate the work of incredible women in the tech industry.</p>
  </div>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '50cecaa4613f5d2985000003');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</div>
</body>
</html>