<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/css/bass.css" type="text/css" />
  <link rel="stylesheet" href="/css/ss-social.css" type="text/css" />
</head>
<body> 
<div class="container">
  <div class="header clearfix">
    <h1><a href="/">NRRRDCORE</a></h1>
    <nav>
      <a href="/about.html">About</a>
      <a href="https://twitter.com/nrrrdcore">Twitter</a>
      <a href="http://dribbble.com/nrrrdcore">Dribbble</a>
      <a href="https://github.com/nrrrdcore">GitHub</a>
    </nav>
  </div>
  <div class="content clearfix">
    {{content}}
  </div>
</div>
</body>